# datasets==2.20.0
git+https://github.com/fschlatt/datasets
lightning==2.3.3
transformers>=4.50.0
wandb>=0.12.10
einops==0.8.0
# Commented out for now since it takes ages to load and does not even help
# torchdata@git+https://github.com/pytorch/data
jsonargparse[signatures]>=4.27.7
ir_datasets
more_itertools==10.4.0
nltk==3.8.1
git+https://github.com/webis-de/lightning-ir
